---
apiVersion: v1
data:
  ca.crt: {{ netflow_ca_data['content'] }}
kind: Secret
metadata:
  name: netflow-cert
  namespace: {{ netflow_namespace }}
  labels:
    app: netflow-app
type: Opaque
---
apiVersion: v1
data:
  user: {{ netflow_elastic_user | b64encode }}
  pass: {{ netflow_elastic_pass | b64encode }}
kind: Secret
metadata:
  name: netflow-elastic-cred
  namespace: {{ netflow_namespace }}
  labels:
    app: netflow-app
type: Opaque
---
apiVersion: v1
data:
  filebeat.yml: |
    filebeat.config:
      modules:
        path: ${path.config}/modules.d/*.yml
        reload.enabled: false

    processors:
      - fingerprint:
          fields: ["flow.id", "netflow.exporter.address", "netflow.exporter.timestamp"]
          target_field: "@metadata._id"
      - add_cloud_metadata: ~
      - add_docker_metadata: ~

    setup.template.enabled: true
    setup.template.name: "filebeat-netflow-%{[agent.version]}"
    setup.template.pattern: "filebeat-netflow-%{[agent.version]}-*"
    setup.template.overwrite: false

    #setup.ilm.enabled: auto
    #setup.ilm.rollover_alias: "filebeat-netflow-%{[agent.version]}"
    #setup.ilm.pattern: "{now/d}-000001"
    #setup.ilm.policy_name: "filebeat-netflow"
    #setup.ilm.check_exists: true
    #setup.ilm.overwrite: true
    setup.ilm.enabled: false

    output.elasticsearch:
      enabled: true
      hosts: ["elastic-svc:9200"]
      username: "${SYSLOG_ELASTIC_USER}"
      password: "${SYSLOG_ELASTIC_PASS}"
      ssl.certificate_authorities:
        - "/usr/share/filebeat/certs/ca.crt"
      loadbalance: true
      index: "filebeat-netflow-%{[agent.version]}-%{+yyyy.MM.dd}"
      protocol: https
      ssl.enabled: true

    filebeat.inputs:
      - type: netflow
        max_message_size: 10KiB
        host: "0.0.0.0:2055"
        protocols: [ v5, v9, ipfix ]
        expiration_timeout: 30m
        queue_size: 8192
        detect_sequence_reset: true
        tags: ["filebeat_netflow"]
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: netflow-filebeat-config
  namespace: stackmon
